/******************************************************************************
 *
 * Application styles
 *
 ******************************************************************************/

* {
 margin: 0;
 font-family: Arial;
}

html {
 font-size: 13px;
}

html, body {
 height: 100%;
}

body {
 overflow: hidden;
}

input, select {
 vertical-align: bottom;
}

input[type="button"] {
 padding: 3px 0.75em;
 font-size: 13px;
}

form {
 display: block;
}

select {
 padding: 1px;
 width: auto;
}

label {
 display: block;
 font-size: 0.9em;
 margin-bottom: 0.4em;
}

h1 {
 margin: 1.2em 0 1em 0.2em;
 font-size: 22px;
 padding-bottom: 0.2em;
 border-bottom: 1px solid #aaa;
 width: 8.9em;
}

.qtip-content p,
.qtip-content ul {
 margin-top: 0.5em;
 margin-bottom: 0.5em;
}

.qtip-content li {
 margin-top: 0.5em;
 padding-left: 0;
}

.qtip-content ul {
 padding-left: 1.5em;
}

.invisible {
 display: none;
}

/******************************************************************************
 *
 * Hacks to make buttons look right in Firefox
 *
 ******************************************************************************/

input[type="button"]::-moz-focus-inner {
 padding: 1px 1px 0px 1px;
 border: 0;
}

#control_panel .stepper input[type="button"]::-moz-focus-inner {
 padding-top: 0px;
}

#tutorial {
 max-height: 100%;
 height: 100%;
 overflow: auto;
}

#tutorial #content {
 padding-left: 1.7em;
 padding-right: 2em;
 padding-bottom: 2.5em;
}

#tutorial p {
 line-height: 22px;
 font-size: 14px;
 margin-top: 10px;
}

#tutorial h1 {
 width: auto;
 margin: 1.2em 0 1em 0em;
 font-size: 22px;
}

#tutorial h2 {
 margin-top: 1em;
 margin-bottom: 13px;
 font-size: 18px;
 font-style: italic;
 padding-bottom: 5px;
 border-bottom: 1px solid #ddd;
}

#tutorial h3 {
 font-size: 16px;
 font-weight: bold;
 margin-top: 14px;
 margin-bottom: 10px;
}

#tutorial ul {
 margin-top: 0.6em;
}

#tutorial li {
 margin-top: 0.4em;
 font-size: 14px;
}

#tutorial img {
 margin-top: 2px;
 margin-left: 20px;
}

table, table td, table th {
 border: 1px solid #ccc;
 line-height: 20px;
}

table td, table th {
 padding: 4px;
}